In [102]:
import pandas as pd
from sodapy import Socrata
client = Socrata("data.sfgov.org",
                 "gZmg4iarmENBTk1Vzsb94bnse",
                 username="xinyulia@kth.se",
                 password="Xw990504")

results = client.get("wg3w-h783", limit=800000)
results_df = pd.DataFrame.from_records(results)

In [107]:
from preprocessor_pipeline import preprocessing_incident
results_df_preprocessed = preprocessing_incident(results_df)
results_df_preprocessed.incident_datetime=pd.to_datetime(results_df_preprocessed.incident_datetime)
results_df_preprocessed.sort_values(by='incident_datetime', ascending = False, inplace = True)

FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.

In [49]:
import hopsworks
import joblib
import xgboost as xgb

project = hopsworks.login()
fs = project.get_feature_store()
mr = project.get_model_registry()
model = mr.get_model("incident_modal", version=1)
model_dir = model.download()
model = joblib.load(model_dir + "/incident_model.pkl")

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/5297
Connected. Call `.close()` to terminate connection gracefully.
Connected. Call `.close()` to terminate connection gracefully.
Downloading file ...

In [112]:
batch_data = results_df_preprocessed[:100]
batch_data.drop(columns=['incident_datetime','incident_category'], inplace=True)
y_pred = model.predict(batch_data)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [129]:
def unencode_weekday(fri, mon, sat, sun, thu, tue, wed):
    if fri==1.0:
        return "Friday"
    elif mon==1.0:
        return "Monday"
    elif sat==1.0:
        return "Saturday"
    elif sun==1.0:
        return "Sunday"
    elif thu==1.0:
        return "Thursday"
    elif tue==1.0:
        return "Tuesday"
    elif wed==1.0:
        return "Wednesday"
    else:
        return "Invalid Weekday"
    
def unencode_report_type_code(ii, iss, vi, vs):
    if ii==1.0:
        return "II"
    elif iss==1.0:
        return "IS"
    elif vi==1.0:
        return "VI"
    elif vs==1.0:
        return "VS"
    else:
        return "Invalid Report Type Code"

def unencode_police_district(bay, cen, ing, mis, nor, out, par, ric, sou, tar, ten):
    if bay==1.0:
        return "Bayview"
    elif cen==1.0:
        return "Central"
    elif ing==1.0:
        return "Ingleside"
    elif mis==1.0:
        return "Mission"
    elif nor==1.0:
        return "Northern"
    elif out==1.0:
        return "OutOfSF"
    elif par==1.0:
        return "Park"
    elif ric==1.0:
        return "Richmond"
    elif sou==1.0:
        return "Southern"
    elif tar==1.0:
        return "Taraval"
    elif ten==1.0:
        return "Tenderloin"
    else:
        return "Invalid Police District"

In [119]:
batch_data["incident_day_of_week"]=batch_data.apply(lambda x:unencode_weekday(x.incident_day_of_week_Friday,x.incident_day_of_week_Monday,x.incident_day_of_week_Saturday,x.incident_day_of_week_Sunday,x.incident_day_of_week_Thursday,x.incident_day_of_week_Tuesday,x.incident_day_of_week_Wednesday),axis=1)
batch_data.drop(columns=["incident_day_of_week_Friday","incident_day_of_week_Monday","incident_day_of_week_Saturday","incident_day_of_week_Sunday","incident_day_of_week_Thursday","incident_day_of_week_Tuesday","incident_day_of_week_Wednesday"],inplace=True)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [126]:
batch_data["report_type_code"]=batch_data.apply(lambda x:unencode_report_type_code(x.report_type_code_II,x.report_type_code_IS,x.report_type_code_VI,x.report_type_code_VS),axis=1)
batch_data.drop(columns=["report_type_code_II","report_type_code_IS","report_type_code_VI","report_type_code_VS"],inplace=True)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [130]:
batch_data["police_district"]=batch_data.apply(lambda x:unencode_police_district(x.police_district_Bayview,x.police_district_Central,x.police_district_Ingleside,x.police_district_Mission,x.police_district_Northern,x.police_district_OutOfSF,x.police_district_Park,x.police_district_Richmond,x.police_district_Southern,x.police_district_Taraval,x.police_district_Tenderloin),axis=1)
batch_data.drop(columns=["police_district_Bayview","police_district_Central","police_district_Ingleside","police_district_Mission","police_district_Northern","police_district_OutOfSF","police_district_Park","police_district_Richmond","police_district_Southern","police_district_Taraval","police_district_Tenderloin"],inplace=True)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [132]:
results_df_preprocessed[:100]

,incident_day_of_week_Friday,incident_day_of_week_Monday,incident_day_of_week_Saturday,incident_day_of_week_Sunday,incident_day_of_week_Thursday,incident_day_of_week_Tuesday,incident_day_of_week_Wednesday,report_type_code_II,report_type_code_IS,report_type_code_VI,...,police_district_Southern,police_district_Taraval,police_district_Tenderloin,incident_datetime,incident_category,latitude,longitude,incident_month,incident_year,incident_hour
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,2023-01-05 22:30:00,Non-Criminal,37.795737,-122.423413,1,2023,22
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,2023-01-05 22:30:00,Missing Person,37.795737,-122.423413,1,2023,22
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,2023-01-05 22:01:00,Traffic and Vehicle Offense,37.780006,-122.411933,1,2023,22
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,2023-01-05 21:45:00,Non-Criminal,37.743883,-122.383118,1,2023,21
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,2023-01-05 19:30:00,Theft and Robbery,37.797628,-122.408619,1,2023,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,2023-01-05 07:56:00,Traffic and Vehicle Offense,37.771724,-122.416900,1,2023,7
96,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,2023-01-05 07:56:00,Weapons Offense,37.771724,-122.416900,1,2023,7
97,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,2023-01-05 06:57:00,Other,37.727447,-122.441103,1,2023,6
98,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,2023-01-05 06:46:00,Non-Criminal,37.760889,-122.435001,1,2023,6
99,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,2023-01-05 06:00:00,Financial Offense,37.777553,-122.391121,1,2023,6

In [151]:
batch_data["idx_temp"]=batch_data.index
batch_data["incident_category_pred"]=y_pred[batch_data.idx]
batch_data.drop(columns=["idx_temp"],inplace=True)

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [155]:
batch_data

,latitude,longitude,incident_month,incident_year,incident_hour,incident_day_of_week,report_type_code,police_district,incident_category_pred
0,37.795737,-122.423413,1,2023,22,Thursday,IS,Northern,Theft and Robbery
1,37.795737,-122.423413,1,2023,22,Thursday,IS,Northern,Theft and Robbery
2,37.780006,-122.411933,1,2023,22,Thursday,II,Tenderloin,Assault
3,37.743883,-122.383118,1,2023,21,Thursday,II,Central,Other
4,37.797628,-122.408619,1,2023,19,Thursday,II,Central,Theft and Robbery
...,...,...,...,...,...,...,...,...,...
95,37.771724,-122.416900,1,2023,7,Thursday,IS,Southern,Missing Person
96,37.771724,-122.416900,1,2023,7,Thursday,IS,Southern,Missing Person
97,37.727447,-122.441103,1,2023,6,Thursday,II,Ingleside,Non-Criminal
98,37.760889,-122.435001,1,2023,6,Thursday,II,Mission,Non-Criminal
99,37.777553,-122.391121,1,2023,6,Thursday,II,Southern,Malicious Mischief

In [146]:
y_pred

array(['Theft and Robbery', 'Theft and Robbery', 'Assault', 'Other',
       'Theft and Robbery', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Theft and Robbery', 'Malicious Mischief',
       'Theft and Robbery', 'Theft and Robbery', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Theft and Robbery',
       'Theft and Robbery', 'Traffic and Vehicle Offense', 'Non-Criminal',
       'Theft and Robbery', 'Theft and Robbery', 'Drug Offense',
       'Drug Offense', 'Drug Offense', 'Traffic and Vehicle Offense',
       'Non-Criminal', 'Theft and Robbery', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Drug Offense', 'Other',
       'Non-Criminal', 'Drug Offense', 'Drug Offense', 'Drug Offense',
       'Traffic and Vehicle Offense', 'Traffic and Vehicle Offense',
       'Warrant', 'Warrant', 'Warrant', 'Traffic and Vehicle Offense',
       'Non-Criminal', 'Theft and Robbery', 'Theft and Robbery',
       'Non-Criminal', 'Traffic and Vehicle Offense',
       'Traffic and Vehicle Offense', 'Non-Criminal', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Non-Criminal',
       'Non-Criminal', 'Non-Criminal', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Theft and Robbery', 'Non-Criminal',
       'Non-Criminal', 'Theft and Robbery', 'Other', 'Other', 'Other',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery',
       'Traffic and Vehicle Offense', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Malicious Mischief', 'Non-Criminal', 'Other',
       'Non-Criminal', 'Traffic and Vehicle Offense',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery',
       'Traffic and Vehicle Offense', 'Non-Criminal',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Traffic and Vehicle Offense',
       'Other Offenses', 'Other', 'Other', 'Missing Person',
       'Missing Person', 'Missing Person', 'Non-Criminal', 'Non-Criminal',
       'Malicious Mischief'], dtype=object)

In [110]:
output_df

,incident_datetime,incident_date,incident_time,incident_year,incident_day_of_week,report_datetime,row_id,incident_id,incident_number,report_type_code,...,latitude,longitude,point,:@computed_region_jwn9_ihcz,:@computed_region_26cr_cadq,:@computed_region_qgnn_b9vv,:@computed_region_nqbw_i6c3,:@computed_region_h4ep_8xdi,:@computed_region_n4xg_c4py,:@computed_region_jg9y_a9du
680428,2023-01-05T22:30:00.000,2023-01-05T00:00:00.000,22:30,2023,Thursday,2023-01-05T22:34:00.000,123139764020,1231397,220864143,IS,...,37.79573710834212,-122.42341305643612,"{'type': 'Point', 'coordinates': [-122.4234130...",102,6,4,NaN,NaN,NaN,NaN
656594,2023-01-05T22:30:00.000,2023-01-05T00:00:00.000,22:30,2023,Thursday,2023-01-05T22:34:00.000,123139775000,1231397,220864143,IS,...,37.79573710834212,-122.42341305643612,"{'type': 'Point', 'coordinates': [-122.4234130...",102,6,4,NaN,NaN,NaN,NaN
680389,2023-01-05T22:01:00.000,2023-01-05T00:00:00.000,22:01,2023,Thursday,2023-01-05T22:01:00.000,123166465010,1231664,230011691,II,...,37.780005867994824,-122.41193341005338,"{'type': 'Point', 'coordinates': [-122.4119334...",32,10,5,1,1,1,NaN
680646,2023-01-05T21:52:00.000,2023-01-05T00:00:00.000,21:52,2023,Thursday,2023-01-05T21:52:00.000,123166607041,1231666,230010637,VS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680654,2023-01-05T21:45:00.000,2023-01-05T00:00:00.000,21:45,2023,Thursday,2023-01-05T21:55:00.000,123166264020,1231662,230011641,II,...,37.74388333564679,-122.38311822134833,"{'type': 'Point', 'coordinates': [-122.3831182...",76,9,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680440,2023-01-05T08:30:00.000,2023-01-05T00:00:00.000,08:30,2023,Thursday,2023-01-05T18:47:00.000,123163615095,1231636,230011243,II,...,37.785582473554015,-122.4146172088293,"{'type': 'Point', 'coordinates': [-122.4146172...",20,10,5,NaN,1,NaN,NaN
680507,2023-01-05T08:15:00.000,2023-01-05T00:00:00.000,08:15,2023,Thursday,2023-01-05T10:03:00.000,123149964070,1231499,230010079,II,...,37.7800776369126,-122.43542451682923,"{'type': 'Point', 'coordinates': [-122.4354245...",97,11,4,NaN,NaN,NaN,NaN
680573,2023-01-05T07:56:00.000,2023-01-05T00:00:00.000,07:56,2023,Thursday,2023-01-05T07:56:00.000,123148607041,1231486,230009903,IS,...,37.77172394571696,-122.41689981979252,"{'type': 'Point', 'coordinates': [-122.4168998...",32,10,1,1,1,1,NaN
680385,2023-01-05T07:56:00.000,2023-01-05T00:00:00.000,07:56,2023,Thursday,2023-01-05T07:56:00.000,123148668069,1231486,230009903,IS,...,37.77172394571696,-122.41689981979252,"{'type': 'Point', 'coordinates': [-122.4168998...",32,10,1,1,1,1,NaN
680453,2023-01-05T07:56:00.000,2023-01-05T00:00:00.000,07:56,2023,Thursday,2023-01-05T07:56:00.000,123148612080,1231486,230009903,IS,...,37.77172394571696,-122.41689981979252,"{'type': 'Point', 'coordinates': [-122.4168998...",32,10,1,1,1,1,NaN

In [51]:
y_pred

array(['Theft and Robbery', 'Theft and Robbery', 'Assault', 'Other',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Malicious Mischief',
       'Theft and Robbery', 'Theft and Robbery', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Theft and Robbery',
       'Theft and Robbery', 'Traffic and Vehicle Offense', 'Non-Criminal',
       'Theft and Robbery', 'Theft and Robbery', 'Drug Offense',
       'Drug Offense', 'Drug Offense', 'Theft and Robbery',
       'Non-Criminal', 'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Other', 'Theft and Robbery', 'Theft and Robbery', 'Drug Offense',
       'Non-Criminal', 'Drug Offense', 'Drug Offense', 'Drug Offense',
       'Traffic and Vehicle Offense', 'Warrant',
       'Traffic and Vehicle Offense', 'Warrant', 'Warrant',
       'Traffic and Vehicle Offense', 'Non-Criminal', 'Theft and Robbery',
       'Theft and Robbery', 'Non-Criminal', 'Traffic and Vehicle Offense',
       'Traffic and Vehicle Offense', 'Non-Criminal', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Non-Criminal',
       'Non-Criminal', 'Non-Criminal', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Theft and Robbery',
       'Traffic and Vehicle Offense', 'Theft and Robbery', 'Non-Criminal',
       'Non-Criminal', 'Theft and Robbery', 'Other', 'Other', 'Other',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery',
       'Traffic and Vehicle Offense', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Malicious Mischief', 'Non-Criminal', 'Other',
       'Non-Criminal', 'Traffic and Vehicle Offense',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Theft and Robbery', 'Non-Criminal',
       'Traffic and Vehicle Offense', 'Traffic and Vehicle Offense',
       'Theft and Robbery', 'Theft and Robbery', 'Theft and Robbery',
       'Traffic and Vehicle Offense', 'Theft and Robbery',
       'Theft and Robbery', 'Other Offenses',
       'Traffic and Vehicle Offense', 'Other', 'Other', 'Missing Person',
       'Missing Person', 'Missing Person', 'Non-Criminal', 'Non-Criminal',
       'Malicious Mischief'], dtype=object)

In [3]:
results_df.drop(columns=['incident_date','incident_time', 'incident_year','report_datetime','row_id','incident_id',
                         'incident_number','report_type_description','filed_online','incident_code','incident_subcategory',
                         'incident_description','resolution','cad_number','intersection','cnn','analysis_neighborhood',
                         'supervisor_district','point',':@computed_region_jwn9_ihcz',':@computed_region_26cr_cadq',
                         ':@computed_region_qgnn_b9vv',':@computed_region_nqbw_i6c3',':@computed_region_h4ep_8xdi',
                         ':@computed_region_n4xg_c4py',':@computed_region_jg9y_a9du'], inplace=True)

In [4]:
results_df.dropna(inplace=True)

In [16]:
numeric_columns = results_df_preprocessed.columns.drop(['incident_datetime','incident_category'])
results_df_preprocessed[numeric_columns] = results_df_preprocessed[numeric_columns].apply(pd.to_numeric)
results_df_preprocessed['incident_datetime'] = results_df_preprocessed['incident_datetime'].apply(pd.to_datetime)
results_df_preprocessed.rename(columns={"police_district_Out of SF": "police_district_OutOfSF"},inplace=True)
#results_df_preprocessed.astype("float64").dtypes

In [22]:
results_df['incident_month']=pd.to_datetime(results_df["incident_datetime"]).dt.month
results_df['incident_year']=pd.to_datetime(results_df["incident_datetime"]).dt.year
results_df['incident_hour']=pd.to_datetime(results_df["incident_datetime"]).dt.hour
#results_df['incident_dayofweek']=pd.to_datetime(results_df["incident_datetime"]).dt.dayofweek

In [30]:
results_df=results_df.astype({'latitude': 'float64', 'longitude': 'float64'})

In [33]:
results_df.drop(columns=['incident_datetime'],inplace=True)

In [34]:
results_df.head().T

,25,26,27,28,29
incident_day_of_week,Saturday,Saturday,Saturday,Saturday,Saturday
report_type_code,II,II,II,II,IS
incident_category,Missing Person,Fraud,Traffic Violation Arrest,Other Miscellaneous,Drug Offense
police_district,Ingleside,Central,Park,Northern,Bayview
latitude,37.726236,37.805497,37.77279,37.789837,37.739853
longitude,-122.433624,-122.422007,-122.447497,-122.434027,-122.391268
incident_month,5,5,5,5,5
incident_year,2021,2021,2021,2021,2021
incident_hour,13,17,3,10,16

In [28]:
results_df.describe()

,incident_datetime,incident_time,incident_year,incident_day_of_week,report_type_code,incident_category,police_district,latitude,longitude
count,643923,643923,643923,643923,643923,643923,643923,643923,643923
unique,306840,1440,6,7,4,49,11,6467,6467
top,2021-11-23T13:00:00.000,00:00,2018,Friday,II,Larceny Theft,Central,37.784560141211806,-122.40733704162238
freq,96,18818,144678,98410,512901,188751,96806,3927,3927

In [22]:
results_df.isna().sum()

incident_datetime       0
incident_day_of_week    0
report_type_code        0
incident_category       0
police_district         0
latitude                0
longitude               0
incident_month          0
incident_year           0
incident_hour           0
dtype: int64

In [126]:
def merge_category(x):
    if x == "Human Trafficking (A), Commercial Sex Acts":
        return "Human Trafficking"
    elif x == "Human Trafficking (B), Involuntary Servitude":
        return "Human Trafficking"
    elif x == "Human Trafficking, Commercial Sex Acts":
        return "Human Trafficking"
    elif x == "Weapons Offence":
        return "Weapons Offense"
    elif x == "Drug Violation":
        return "Drug Offense"
    elif x == "Motor Vehicle Theft?":
        return "Motor Vehicle Theft"
    elif x == "Suspicious Occ":
        return "Suspicious"
    elif x == "Rape":
        return "Sex Offense"
    else:
        return x
results_df['incident_category']=results_df['incident_category'].apply(merge_category)

In [127]:
def merge_category_2(x):
    if x == "Gambling":
        return "Other"
    elif x == "Homicide":
        return "Other"
    elif x == "Human Trafficking":
        return "Other"
    elif x == "Liquor Laws":
        return "Other"
    elif x == "Other Miscellaneous":
        return "Other"
    elif x == "Weapons Carrying Etc":
        return "Weapons Offense"
    elif x == "Offences Against The Family And Children":
        return "Other Offenses"
    elif x == "Sex Offense":
        return "Other Offenses"
    elif x == "Prostitution":
        return "Other"
    elif x == "Case Closure":
        return "Other"
    elif x == "Courtesy Report":
        return "Other"
    elif x == "Fire Report":
        return "Other"
    elif x == "Suicide":
        return "Other"
    elif x == "Embezzlement":
        return "Financial Offense"
    elif x == "Forgery And Counterfeiting":
        return "Financial Offense"
    elif x == "Fraud":
        return "Financial Offense"
    elif x == "Lost Property":
        return "Financial Offense"
    elif x == "Stolen Property":
        return "Financial Offense"
    elif x == "Motor Vehicle Theft":
        return "Traffic and Vehicle Offense"
    elif x == "Recovered Vehicle":
        return "Traffic and Vehicle Offense"
    elif x == "Traffic Collision":
        return "Traffic and Vehicle Offense"
    elif x == "Traffic Violation Arrest":
        return "Traffic and Vehicle Offense"
    elif x == "Vehicle Impounded":
        return "Traffic and Vehicle Offense"
    elif x == "Vehicle Misplaced":
        return "Traffic and Vehicle Offense"
    elif x == "Civil Sidewalks":
        return "Traffic and Vehicle Offense"
    elif x == "Burglary":
        return "Theft and Robbery"
    elif x == "Larceny Theft":
        return "Theft and Robbery"
    elif x == "Robbery":
        return "Theft and Robbery"
    elif x == "Arson":
        return "Assault"
    elif x == "Disorderly Conduct":
        return "Other Offenses"
    elif x == "Vandalism":
        return "Malicious Mischief"
    elif x == "Miscellaneous Investigation":
        return "Suspicious"
    else:
        return x
results_df['incident_category']=results_df['incident_category'].apply(merge_category_2)

In [128]:
results_df[['incident_datetime','incident_category']].groupby(by='incident_category').count()

                             incident_datetime
incident_category
Assault                                  43167
Drug Offense                             16455
Financial Offense                        43718
Malicious Mischief                       45547
Missing Person                           14710
Non-Criminal                             39986
Other                                    60220
Other Offenses                           26429
Suspicious                               20990
Theft and Robbery                       241781
Traffic and Vehicle Offense              62965
Warrant                                  19626
Weapons Offense                           8329